<div class="row footer bg-bs-info">
	<div class="col-md-4 col-xs-12">
		<ul class="list-group">
			<h2>References</h2>
			<li class="list-group-item">abcd</li>
			<li class="list-group-item">pqrs</li>
			<li class="list-group-item">xyzw</li>
			<li class="list-group-item">fghr</li>	
		</ul>

	</div>
	<div class="col-md-4 col-xs-12">
		<ul class="list-group">
			<h2>Quick Links</h2>
			<li class="list-group-item"><a href="#">abcd</a></li>
			<li class="list-group-item"><a href="#">pqrs</a></li>
			<li class="list-group-item"><a href="#">xyzw</a></li>
			<li class="list-group-item"><a href="#">fghr</a></li>	
		</ul>
	</div>
	<div class="col-md-4 col-xs-12">
		<ul class="list-group">
			<h2>Contact us</h2>
			<li class="list-group-item"><i class="fab fa-facebook"></i>Facebook</li>
			<li class="list-group-item"><i class="fab fa-skype"></i>Skype</li>
			<li class="list-group-item"><i class="fab fa-linkedin"></i>LinkedIn</li>
			<li class="list-group-item"><i class="fas fa-envelope"></i>Gmail</li>	
		</ul>
	</div>
</div>

