<div class="row margin-top-25" style="min-height: 500px;">

 <div class="col-md-4" id="form">
  <form id="user" method="post" name="Contact">
    <div class="form-group">
     <label for="Name">Name</label>
     <input type="text" id="name" name="name" required class="form-control" [(ngModel)]="details.name"/>
   </div>
   <div class="form-group">
     <label for="phone no">Phone no:</label>
     <input type="tel" id="phone" name="phone" required class="form-control" [(ngModel)]="details.phone"/>
   </div>	
   <div class="form-group">
    <input type="submit" id="btnsubmit" class="btn btn-success" (click)="addData(details)" >
  </div>
</form>
</div>

<div class="col-md-8" id="table">
 <table class="table table-bordered">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Phone</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let user of users[0];let i=index">
      <td>{{user.name}}</td>
      <td>{{user.phone}}</td>
      <td><button><a [routerLink] = "['/update',user._id]">Update</a></button><button (click)="deleteUser(user._id,i)">Delete</button></td>
    </tr>
  </tbody>
</table>
</div>
</div>
